langchain==0.1.17
langchain-community==0.0.36
langchain-huggingface==0.0.3
langchain-groq==0.1.4
langchain-text-splitters
langchain-chroma
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence-transformers
langchain-ollama
faiss-cpu
langchain-pinecone
youtube_search
PyPDF2
