langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence-transformers
langchain-ollama
faiss-cpu
langchain-pinecone
youtube_search
PyPDF2
